@model FilmsEdit
<div>
    <h3>
        @Model.Title
    </h3>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div>
</div>
<div>
    <br />
    @Html.Raw(Model.Text)
</div>
<div>
    <br />
    <h3>Средний рейтинг фильма: @Model.AvgRateFilm</h3>
    @if (Model.GetUserById)
    {
        <font size="4" color="red">Спасибо за вашу оценку!</font>
        <font size="4" color="red">Ваша оценка: @Model.UsersMark</font>
    }else
    {
    <form asp-action="Mark" method="post" asp-controller="Films" asp-route-id="@Model.Id">
        <font size="4" color="red">Уже посмотрели фильм? Оставьте пожалуйста оценку &nbsp;&nbsp;&nbsp;</font>
        <select name="MarkValue">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
        <input type="submit" value="Сохранить" />
    </form>
    }
    <h3>
        Актеры, принявшие участие в данном фильме:<br/>
        @foreach (var actors in Model.FilmsAndActors)
        {
        <font size="4" color="red">@actors.Title</font><br/>
        }
    </h3>
</div>